SECRET_KEY="abcdefg132456"
ENVIRONMENT="development"
DATABASE_DEV="postgresql+psycopg2://postgres:password@localhost/{db_name}"
DATABASE_TEST="postgresql+psycopg2://postgres:password@localhost/{db_name}"

#DATABASE_DEV="postgresql+psycopg2://postgres:password@fastapi-postgres:5432/fastdev1"
#DATABASE_TEST="postgresql+psycopg2://postgres:passwor@fastapi-postgres:5432/fasttest1"